{
  "presets": [
      "@babel/env",
      "@babel/typescript",
      "@babel/react"
  ],
  "plugins": [
      "@babel/proposal-class-properties",
      "@babel/proposal-object-rest-spread",
      [
        "babel-plugin-styled-components",
        {
          "ssr": false
        }
      ]
  ],
  "ignore": [
    "lib"
  ],
  "env": {
    "test": {
      "plugins": ["@babel/plugin-transform-runtime"]
    },
    "build": {
      "ignore": [
        "**/stories",
        "**/__tests__"
      ]
    }
  }
}
