/node_modules/*
/lib/*
/dist/*
/docs/**
/.github/*
/.idea/*
/assets/*
/src/**/*.spec.tsx
/src/**/*.spec.ts
/src/**/*.stories.tsx
/src/**/*.components.tsx
/src/components/icons/*
rollup.config.js
api-extractor.json
*.mdx
